<!DOCTYPE html>
<html>
<head>
  <title>File Upload Page</title>
  <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
  <div class="container">
    <h2>File Upload Page</h2>
    <form id="uploadForm" method="post" action="/upload" enctype="multipart/form-data">
      <label>Choose Excel File for Master Data:</label>
      <input type="file" id="file1" name="file1" required><br>
      <label>Choose Excel File for Total Data:</label>
      <input type="file" id="file2" name="file2" required><br>
      <button id="#test" type="submit">Process Files</button>
    </form>
    <!-- /div><div id="checkboxContainer"></div> -->
    <script src="../../static/script.js"></script>
  </div>
  <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
   <script type=text/javascript>
    $(function() {
      $('#test').on('submit', function(e) {
        e.preventDefault()
        $.getJSON('/upload');
        
        return false;
      });
    });
</script> -->
</body>
</html>
